:root {
  --cinza-escuro: #1A1A1A;
  --cinza-claro: #292929;
  --preto: #000000;
  --preto-claro: #0A0909;
  --laranja: #FF4700;
  --vermelho-telha: #C62005;


  --azul: #00aeff;
  --azul-escuro: #048ece;
  --azul-dark: #035a83;
  --branco: #ffffff;
  --cinza: #999999;
  --verde-musgo: #077B2F;
}