@import url("_esquemaCor.css");

@font-face{
    font-family: BebasRegular;
    src: url("../_fontes/BebasRegular.ttf");
}

@font-face{
    font-family: JonahAFYL;
    src: url("../_fontes/JonahAFYL.ttf");
}

*{
    margin: 0;
    padding: 0;
    
}

html{
    font-size: 84.1%;
}

body{
    background-image: url("../_imagens/_fundo2.jpg");
    background-size: cover;
    font-size: 1.6rem;
}

.container{
    height: auto;
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 10px 10px 10px #0f0f0f8a;
    border-radius: 15px;
    align-content: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    
    background-color: var(--cinza-claro);
}

.container > div{
    margin: 10px 10px;
}

.container > div:nth-child(1){
    /* display: block; */
    height: auto;
    width: 100%;
    max-width: 400px;
    align-items: center;
    justify-content: center;
    display: flex;

    /* background-color: brown; */
}

.container > div:nth-child(2){
    /* display: block; */
    height: auto;
    width: 100%;
    max-width: 350px;
    padding: 0px 20px 0px 20px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px #1a1a1a63;

    background-color: #ffffff28;
}

.logo{
    height: 230px;
    width: 100%;
    max-width: 230px;
    padding: 10px;
}

h1{
    font-size: 4rem;
    text-align: center;
    color: rgb(200, 200, 200);
    text-shadow: 1px 1px 8px rgba(255, 255, 255, 0.2);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--preto);
    font-family: BebasRegular;
    letter-spacing: 0.1em;
}

input{
    display: block;
    font-size: 1.6rem;
    font-family: JonahAFYL;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    height: 40px;
    width: 100%;
    color: black;
    background-color: white;  
    outline: none;
    letter-spacing: 0.1em;
    
}

input[type=text]:hover, input[type=text]:focus,
input[type=tel]:hover, input[type=tel]:focus,
input[type=user]:hover, input[type=user]:focus,
input[type=email]:hover, input[type=email]:focus,
input[type=password]:hover, input[type=password]:focus{
    background-color: hsla(0, 0%, 100%, 0.75);
    border: none;
}

.botao{
    display: block;
    font-size: 1.6rem;
    font-family: JonahAFYL;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    height: 35px;
    width: 100%;
    color: var(--branco);
    background-color: var(--azul);  
    outline: none; 
}

.botao:hover, .botao:focus{
    width: 100%;
    border: none;
    border-bottom: 5px solid var(--azul-dark);
    color: var(--preto);
    font-weight: bolder;
    background-color: var(--azul-escuro);
    cursor: pointer;
}


a{
    padding: 10px;
    color: var(--branco);
    text-decoration: none;
    text-align: center;
    display: block;
    font-size: 1.2rem;
    font-family: JonahAFYL;
    
}

a:hover, a:focus{
    text-decoration: none;
    color: var(--preto);
    outline: none;
 
}

::-webkit-input-placeholder{
    color: var(--preto);
    padding-left: 10px;   
}

:-moz-placeholder{
    color: var(--preto);
    padding-left: 10px;
}

::-moz-placeholder{
    color: var(--preto);
    padding-left: 10px;
}

:-ms-input-placeholder{
    color: var(--preto);
    padding-left: 10px;
} 

@media (min-width: 900px) and (orientation: landscape){
    .container{
        top: 50%;
        transform: translate(-50%, -50%);

    }
}

@media (max-width: 600px){

    body{
        background-image: url("../_imagens/_fundo3.jpg");
    }

    .container{
        box-shadow: none;
        top: 0;
        transform: translate(-50%, 0%);
    }
    
    .container > div:nth-child(2) {
        max-width: 260px;
        box-shadow: none;
        background-color: #ffffff00;
    }

    h1{
        text-align: center;
    }

    .logo {
        height: 100%;
        max-height: 170px;
        width: 100%;
        max-width: 170px;
        padding: 10px;
    }

    input{
        margin-top: 5px;
    }


}

@media (max-width: 375px){
    .container > div {
        margin: 0;
    }
    
    .container > div:nth-child(1) {
        height: auto;
        width: 100%;
        max-width: 210px;
        
    }

    h1{
        font-size: 3rem;
    }

    input{
        font-size: 1.4rem;
    }

    .logo {
        height: 100%;
        max-height: 140px;
        width: 100%;
        max-width: 140px;
        padding: 20px;
    }
    
}

@media (max-width: 320px){
    
    input{
        margin-top: 5px;
    }
    
}

