@import url("_esquemaCor.css");

@font-face{
    font-family: BebasRegular;
    src: url("../_fontes/BebasRegular.ttf");
}

@font-face{
    font-family: JonahAFYL;
    src: url("../_fontes/JonahAFYL.ttf");
}

*{
    margin: 0;
    padding: 0;
    
}

html{
    font-size: 84.1%;
}

body{
    background-image: url("../_imagens/_fundo2.jpg");
    background-size: cover;
    font-size: 1.6rem;
}


.container{
    height: auto;
    width: 100%;
    max-width: 800px;
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    
    background-color: var(--cinza-claro);
}

.container > div{
    margin: 20px 20px;
}

.container > div:nth-child(1){
    /* display: block; */
    height: auto;
    width: 100%;
    max-width: 400px;

    /* background-color: brown; */
}

.container > div:nth-child(2){
    /* display: block; */
    height: auto;
    width: 100%;
    max-width: 400px;

    /* background-color: rgb(42, 165, 58); */
}



.box1{
    position: relative;
    height: auto;
    width: 100%;
    max-width: 400px;
    align-items: center;
    justify-content: center;
    display: flex;
    

    /* background-color: blue; */
}

.box2{
    height: auto;
    width: 100%;
    max-width: 400px;
    padding: 50px 20px 20px 20px;

    background-color: #ffffff28;
}

.logo{
    height: 310px;
    width: 310px;

}


h1{
    font-size: 4rem;
    font-family: BebasRegular;
    text-shadow: 1px 1px 8px rgba(255, 255, 255, 0.2);
    /* text-align: center; */
    padding-bottom: 20px;
    color: rgb(200, 200, 200);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--preto);
    letter-spacing: 0.1em;
}  





input{
    letter-spacing: 0.1em;
    display: block;
    font-size: 1.6rem;
    font-family: JonahAFYL;
    border: none;
    border-radius: 10px;
    margin-bottom: 15px;
    height: 40px;
    width: 100%;
    color: black;
    background-color: white;   
    outline: none;
    
}

.botao{
    display: block;
    font-size: 1.6rem;
    font-family: JonahAFYL;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 100%;
    color: white;
    background-color: var(--azul);  
    outline: none; 
}

input[type=user]:hover, input[type=user]:focus, 
input[type=password]:hover, input[type=password]:focus
{
    background-color: hsla(0, 0%, 100%, 0.75);
    border: none;
}


.botao:hover, .botao:focus{
    width: 100%;
    border: none;
    border-bottom: 5px solid var(--azul-dark);
    color: var(--preto);
    background-color: var(--azul-escuro);
    cursor: pointer;
    font-weight: bolder;
}


a{
    padding-top: 10px;
    color: var(--branco);
    text-decoration: none;
    text-align: center;
    display: block;
    font-size: 1.4rem;
    font-family: JonahAFYL;
    
}

a:hover, a:focus{
    text-decoration: none;
    color: var(--cinza);
    outline: none;
 
}

::-webkit-input-placeholder{
    color:var(--preto);
    padding-left: 10px;   
}

:-moz-placeholder{
    color:var(--preto);
    padding-left: 10px;
}

::-moz-placeholder{
    color:var(--preto);
    padding-left: 10px;
}

:-ms-input-placeholder{
    color:var(--preto);
    padding-left: 10px;
} 

@media (max-width: 900px) and (orientation: landscape){
    .container{
        top: 0%;
        transform: translate(-50%, 0%);

    }
}

@media (min-width: 900px) and (orientation: landscape){
    .container{
        top: 50%;
        transform: translate(-50%, -50%);

    }
}

@media (max-width: 600px){

    .container{
        display: grid;
        top: 0;
        transform: translate(-50%, 0%);
    }
    
    .container > div:nth-child(2) {
        max-width: 260px;
    }

    h1{
        text-align: center;
        padding-right: 40px;
    }

    .box1{
        justify-content: normal;
    }

    .box2{
        background-color: #ffffff00;
    }
}

@media (max-width: 375px){
    .container > div {
        margin: 0;
    }
    
    .container > div:nth-child(1) {
        height: auto;
        width: 100%;
        max-width: 210px;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    
    .logo {
        height: 100%;
        max-height: 310px;
        width: 100%;
        max-width: 310px;
    }
}

@media (max-width: 320px){
    
    input{
        margin-top: 5px;
    }
    
}